body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.board > * {
    display: none;
}

.board.preGame .preGame,
.board.determineExpeditionType .determineExpeditionType,
.board.mainGame .mainGame {
    display: block;
}

.counter {
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    width: 180px;
}

.counter h3 {
    text-align: center;
    margin: 0 0 10px 0;
}

.counter img {
    margin-right: 10px;
}

.expeditionType {
    padding: 10px;
    border: solid black;
    border-width: 1px 1px 0 1px;
    width: 988px;
}

.expeditionTypeLabelLabel {
    margin-right: 10px;
    font-weight: bold;
}

.expeditionTypeLabel {
    margin-right: 5px;
    font-weight: bold;
}

.map {
    padding: 10px;
}

.dialog .planningDiceTray h3,
.dialog .instructions {
    display: none;
}

.dialog.planning {
    height: 760px;
}

.dialog.planning .instructionsContainer {
    height: 72px;
}

.dialog.planning .instructionsContainer p {
    margin-bottom: 0;
}

.dialog.planning.preroll .planningDiceTray.left,
.dialog.planning.rolling .planningDiceTray.left {
    margin-left: 236px;
}

.dialog.planning.rerollPartial .planningDiceTray.left,
.dialog.planning.rerolling .planningDiceTray.left {
    margin-left: 186px;
}

.dialog.preroll .planningDiceTray h3.preroll,
.dialog.preroll .instructions.preroll,
.dialog.rolling .planningDiceTray h3.rolling,
.dialog.rolling .instructions.rolling,
.dialog.rerollPartial .planningDiceTray h3.rerollPartial,
.dialog.rerollPartial .instructions.rerollPartial,
.dialog.rerolling .planningDiceTray h3.rerolling,
.dialog.rerolling .instructions.rerolling,
.dialog.postroll .planningDiceTray h3.postroll,
.dialog.postroll .instructions.postroll  {
    display: block;
}

.dialog.postroll .planningDiceTray.right {
    width: 450px;
}

.dialog h3 {
    margin-top: 0;
}

.diceTrayContent {
    text-align: center;
}

.diceTrayContent svg {
    margin: 0 5px 10px;
}

.feverVisible {
    color: red;
    display: none;
}

.fevered .feverVisible {
    display: inline;
}

.fevered .feverHidden {
    display: none;
}

.feverLabel {
    position: absolute;
    left: 525px;
    margin-top: 10px;
}

.highlightHex {
    fill: #ffffcc80;
}

g:hover .highlightHex {
    fill: #ffff0080;
}

.highlightTrail .hl {
    fill: #ffff8080;
}

.highlightTrail:hover {
    opacity: 1;
}

.highlightTrail:hover .hl {
    fill: #ffff00d0;
}

.phase {
    margin-top: -65px;
}

.planningDiceTrayContainer {
    width: 575px;
    height: 520px;
    overflow: auto;
}

.planningDiceTray {
    float: left;
    width: 80px;
    margin: 10px;
}

.planningDiceTray .assigned {
    float: left;
    margin-right: 10px;
    transform: translate(0, 0);
}

.planningDiceTray .assigned, .planningDiceTray .wild {
    transform: translate(0, 0);
}

.planningDiceTray .bucket {
    clear: both;
    height: 90px;
}
