body {
	margin: 0;
}

canvas {
	grid-column: 1;
	grid-row: 1;
}

div.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: gainsboro;
}

div.toolbar.horiz {
	height: 60px;
	width: 100%;
}

div.toolbar button {
	width: 60px;
	height: 40px;
}

div.toolbar.horiz button {
	margin: 10px 0 10px 5px;
}

div.toolbar.horiz button:first-child {
	margin-left: 10px;
}

div.toolbar.horiz button:last-child {
	margin-right: 10px;
}

div.canvasContainer {
	margin-top: 60px;
	display: grid;
	overflow: auto;
}