body {
	margin: 0;
}

canvas {
	background-color: antiquewhite;
}

div.toolbar {
	background-color: gainsboro;
}

div.toolbar.horiz {
	height: 50px;
	clear: both;
}

div.canvasContainer {
	background-color: aliceblue;
	padding: 10px;
}