html, body {
    height: 100%;
}

.map {
    display: table;
}

.map-row
{
    display: table-row;
}

.map-cell {
    display: table-cell;
}

.map-cell, .ter-base, .ter-tree, .ter-feat {
    width: 40px;
    height: 40px;
}

.ter-base, .ter-tree, .ter-feat {
    background-size: 100%;
}

.ter-base {
    z-index: 5;
}

.ter-base-tundra {
    background-image: url('../Images/tundra.png');
}

.ter-base-desert {
    background-image: url('../Images/desert.png');
}

.ter-base-plains {
    background-image: url('../Images/plains.png');
}

.ter-base-prairie {
    background-image: url('../Images/prairie.png');
}

.ter-base-grassland {
    background-image: url('../Images/grassland.png');
}

.ter-base-savannah {
    background-image: url('../Images/savannah.png');
}

.ter-base-marsh {
    background-image: url('../Images/marsh.png');
}

.ter-base-swamp {
    background-image: url('../Images/swamp.png');
}

.ter-base-borealforest {
    background-image: url('../Images/tundra.png');
}

.ter-base-scrubforest {
    background-image: url('../Images/desert.png');
}

.ter-base-mixedforest {
    background-image: url('../Images/plains.png');
}

.ter-base-broadleafforest {
    background-image: url('../Images/prairie.png');
}

.ter-base-coniferforest {
    background-image: url('../Images/grassland.png');
}

.ter-base-tropicalforest {
    background-image: url('../Images/savannah.png');
}

.ter-base-wetlandforest {
    background-image: url('../Images/marsh.png');
}

.ter-base-rainforest {
    background-image: url('../Images/swamp.png');
}

.ter-base-arctic {
    background-image: url('../Images/arctic.png');
}

.ter-base-ocean {
    background-image: url('../Images/ocean.png');
}

.ter-base-sealane {
    background-image: url('../Images/sealane.png');
}

.ter-tree {
    z-index: 10;
}

.ter-base-scrubforest .ter-tree {
    background-image: url('../Images/scrubforest.png');
}

.ter-base-borealforest .ter-tree,
.ter-base-mixedforest .ter-tree,
.ter-base-broadleafforest .ter-tree,
.ter-base-coniferforest .ter-tree,
.ter-base-tropicalforest .ter-tree,
.ter-base-wetlandforest .ter-tree,
.ter-base-rainforest .ter-tree {
    background-image: url('../Images/forest.png');
}

.ter-feat {
    z-index: 15;
}

.ter-feat-hills {
    background-image: url('../Images/hills.png');
}

.ter-feat-minor-river {
    background-image: url('../Images/minorriver.png');
}

.ter-feat-mountains {
    background-image: url('../Images/mountains.png');
}

.ter-feat-major-river {
    background-image: url('../Images/majorriver.png');
}
