:root {
    --tile-size: 40px;
    --english-color: #dd0000;
    --english-color-shaded: #bb0000;
    --french-color: #0000cc;
    --french-color-shaded: #000099;
    --spanish-color: #ffd800;
    --spanish-color-shaded: #eec800;
    --dutch-color: #ff6a00;
    --dutch-color-shaded: #ee6a00;
}

html, body {
    height: 100%;
}

.location-info {
    display: none;
}

.btn-english,
.btn-english:hover,
.btn-french,
.btn-french:hover {
    color: #fff;
}

.btn-english {
    background-color: var(--english-color);
    border-color: var(--english-color);
}

.btn-english:hover {
    background-color: var(--english-color-shaded);
    border-color: var(--english-color-shaded);
}

.btn-french {
    background-color: var(--french-color);
    border-color: var(--french-color);
}

.btn-french:hover {
    background-color: var(--french-color-shaded);
    border-color: var(--french-color-shaded);
}

.btn-spanish {
    background-color: var(--spanish-color);
    border-color: var(--spanish-color);
}

.btn-spanish:hover {
    background-color: var(--spanish-color-shaded);
    border-color: var(--spanish-color-shaded);
}

.btn-dutch {
    background-color: var(--dutch-color);
    border-color: var(--dutch-color);
}

.btn-dutch:hover {
    background-color: var(--dutch-color-shaded);
    border-color: var(--dutch-color-shaded);
}

.map-head .btn-group {
    margin-bottom: 4px;
}

.map {
    display: table;
}

.map-row
{
    display: table-row;
}

.map-cell {
    display: table-cell;
}

.map-cell, .ter-base, .ter-tree, .ter-feat, .visibility-screen {
    width: var(--tile-size);
    height: var(--tile-size);
}

.ter-base, .ter-tree, .ter-feat {
    background-size: 100%;
}

.ter-base {
    z-index: 5;
}

.ter-base-tundra {
    background-image: url('../Images/tundra.png');
}

.ter-base-desert {
    background-image: url('../Images/desert.png');
}

.ter-base-plains {
    background-image: url('../Images/plains.png');
}

.ter-base-prairie {
    background-image: url('../Images/prairie.png');
}

.ter-base-grassland {
    background-image: url('../Images/grassland.png');
}

.ter-base-savannah {
    background-image: url('../Images/savannah.png');
}

.ter-base-marsh {
    background-image: url('../Images/marsh.png');
}

.ter-base-swamp {
    background-image: url('../Images/swamp.png');
}

.ter-base-borealforest {
    background-image: url('../Images/tundra.png');
}

.ter-base-scrubforest {
    background-image: url('../Images/desert.png');
}

.ter-base-mixedforest {
    background-image: url('../Images/plains.png');
}

.ter-base-broadleafforest {
    background-image: url('../Images/prairie.png');
}

.ter-base-coniferforest {
    background-image: url('../Images/grassland.png');
}

.ter-base-tropicalforest {
    background-image: url('../Images/savannah.png');
}

.ter-base-wetlandforest {
    background-image: url('../Images/marsh.png');
}

.ter-base-rainforest {
    background-image: url('../Images/swamp.png');
}

.ter-base-arctic {
    background-image: url('../Images/arctic.png');
}

.ter-base-ocean {
    background-image: url('../Images/ocean.png');
}

.ter-base-sealane {
    background-image: url('../Images/sealane.png');
}

.ter-tree {
    z-index: 10;
}

.ter-base-scrubforest .ter-tree {
    background-image: url('../Images/scrubforest.png');
}

.ter-base-borealforest .ter-tree,
.ter-base-mixedforest .ter-tree,
.ter-base-broadleafforest .ter-tree,
.ter-base-coniferforest .ter-tree,
.ter-base-tropicalforest .ter-tree,
.ter-base-wetlandforest .ter-tree,
.ter-base-rainforest .ter-tree {
    background-image: url('../Images/forest.png');
}

.ter-feat {
    z-index: 15;
}

.ter-feat-hills {
    background-image: url('../Images/hills.png');
}

.ter-feat-minor-river {
    background-image: url('../Images/minorriver.png');
}

.ter-feat-mountains {
    background-image: url('../Images/mountains.png');
}

.ter-feat-major-river {
    background-image: url('../Images/majorriver.png');
}

.visibility-screen {
    display: none;
    background-image: url('../Images/hide.png');
    z-index: 99;
}

.map.view-english .visibility-screen.hide-from-english,
.map.view-french .visibility-screen.hide-from-french,
.map.view-spanish .visibility-screen.hide-from-spanish,
.map.view-dutch .visibility-screen.hide-from-dutch {
    display: block;
}
