body {
	margin: 0;
}

canvas {
	grid-column: 1;
	grid-row: 1;
}

div, img, button {
	box-sizing: border-box;
}

.toolbar, .resetToolbarCustomButtons {
	display: flex;
}

.toolbar {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 5px;
	background-color: gainsboro;
}

.toolbar.horiz {
	height: 60px;
	width: 100%;
}

.toolbar .toolbarButton {
	width: 60px;
	height: 40px;
}

.toolbar .toolbarButton.active {
	background-color: aqua;
}

.toolbar .toolbarButton.lock {
	border-width: 5px;
}

.toolbar .toolbarButton.rngButton {
	position: relative;
	width: 40px;
	border-radius: 10px;
	border-style: solid;
}

.rngButton .rngType {
    display: inline-block;
    position: absolute;
    right: -0.9em;
    top: -0.9em;
    font-size: 0.5em;
    color: black;
    padding: 0.1em 0.2em;
    background-color: white;
    border: solid black 1px;
    border-radius: 25%;
}

.toolbar label {
	text-align: center;
	vertical-align: middle;
	width: 58px;
	height: 38px;
	line-height: 38px;
	font-family: Arial;
	border: 1px solid black;
}

.toolbar input[type="checkbox"] {
	display: none;
}

.toolbar.horiz .toolbarButton, .toolbar.horiz label {
	margin: auto 5px;
}

.toolbar .toolbarCustomButtons {
	display: flex;
}

.toolbarDivider {
	display: inline-block;
	width: 1px;
	height: 45px;
	background-color: silver;
	margin: auto 5px;
}

.canvasContainer {
	margin-top: 60px;
	display: grid;
	overflow: auto;
}
