div.modal {
	display: none;
	z-index: 1000;
}

div.modal.visible {
	display: flex;
}

div.modalDialog {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

div.modalSection {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

div.mainDialog {
	display: grid;
	grid-template-rows: auto minmax(auto, 75px) auto auto;
	gap: 10px;
	margin: auto;
	border: solid 2px darkgray;
	background-color: white;
}

div.mainDialog div.dialogHeader {
	grid-row: 1;
	grid-column: 1 / span 5;
	display: flex;
    justify-content: space-between;
	background-color: navy;
	width: 100%;
	height: 40px;
	padding: 5px;
}

div.mainDialog div.dialogHeader > span {
	/* Adjust for the size of the button on the right */
	width: 30px;
}

div.mainDialog div.dialogHeader div.dialogHeaderTitle {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-family: Arial;
	color: white;
}

div.mainDialog div.dialogHeader button {
	width: 30px;
	height: 30px;
}

div.mainDialog div.dialogContentSection {
	position: relative;
	padding: 10px;
	text-align: center;
	border: solid 1px black;
}

div.mainDialog div.dialogContentSection.dialogContentSectionImage {
	grid-column: 2;
	grid-row: 2 / span 2;
}

div.mainDialog div.dialogContentSection.dialogContentSectionToolList {
	grid-column: 3;
	grid-row: 2 / span 2;
}

div.mainDialog div.dialogContentSection.dialogContentSectionToolPosition {
	grid-column: 4;
	grid-row: 2;
}

div.mainDialog div.dialogContentSection.dialogContentSectionToolDefinition {
	grid-column: 4;
	grid-row: 3;
}

div.mainDialog div.dialogContentImage {
	width: 400px;
}

div.mainDialog div.dialogContentHeader {
	text-align: center;
	margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}

div.mainDialog div.dialogContentImage img {
	margin: auto;
	max-width: 400px;
	max-height: 500px;
	border: solid 1px black;
}

div.mainDialog div.dialogContentImage button {
	width: 100%;
	height: 30px;
	margin: 10px 0 0 0;
}

div.mainDialog div.dialogContentTools {
	width: 70px;
}

div.mainDialog div.dialogContentTools .toolbarButton {
	width: 60px;
	height: 40px;
	margin-bottom: 10px;
}

div.mainDialog div.dialogContentToolDef {
	width: 400px;
}

div.mainDialog div.dialogContentToolDef div.dialogToolTypeCont {
	display: none;
}

div.mainDialog div.dialogFooter {
	grid-row: 4;
	grid-column: 1 / span 5;
	display: flex;
	width: 100%;
	height: 60px;
	padding: 0 10px 10px 10px;
}

div.mainDialog div.dialogFooter button {
	width: 60px;
	height: 40px;
	margin: auto;
}
